@{
    ViewData["Title"] = "Page";
}
<h2>Search for your page here</h2>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        form.example input[type=text] {
            padding: 10px;
            font-size: 17px;
            border: 1px solid grey;
            float: left;
            width: 80%;
            background: #f1f1f1;
        }

        form.example button {
            float: left;
            width: 20%;
            padding: 10px;
            background: #2196F3;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none;
            cursor: pointer;
        }

        form.example::after {
            content: "";
            clear: both;
            display: table;
        }

        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #customers tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #customers tr:hover {
                background-color: #ddd;
            }
    </style>

    <script type="text/javascript" src="//api.yamli.com/js/yamli_api.js"></script>
        <script type="text/javascript">
            if (typeof (Yamli) == 'object' && Yamli.init()) {
                Yamli.yamlify('search');
            }
        </script>


</head>
<body>

    <input type="button" value="Upload Pages" id="idUploadPages" />
    
    <form class="example">
    <input id='myInput' @*onkeyup='searchTable()'*@ type='text' name="search" placeholder="Search...">
    <button id="search"><i class="fa fa-search"></i></button>
    <br />
    @*<div id="myResultTable">
        <ul>
            <li>hi</li>
        </ul>
    </div>*@
    <center>
        <img src="@Url.Action("GetDummyImage", "Page", new { id = 1 })"/>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </center>
    </form>


</body>
</html>



<script type="text/javascript">
    $(document).ready(function () {

        $('#idUploadPages').on('click', function () {
            $.ajax({
                url: "@(Url.Action("Upload", "Page"))",
                type: "POST",
                //data: null,
                cache: false,
                async: true,
                success: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText)
                },
            });
        });


        $('#search').on('click', function () {
            var text = $("#myInput").val();
            $.ajax({
                type: "POST",
                url: '/Page/SearchForText?search=' + text,
                //data: { search:text }, //why? ma aam toussal??
                contentType: "application/json; charset=utf-8",
                cache : false,
                async: true,
                success: function(response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                },
            });
        });


        function searchTable() {
            var input, filter, found, table, tr, td, i, j;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("customers");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length; j++) {
                    if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                        found = true;
                    }
                }
                if (found) {
                    tr[i].style.display = "";
                    found = false;
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
         });
</script>

@*Add ajax jquery call to call the pagecontroller searchfortext
    (string as parameter) retrn list of (page number, string )
    Paste the result in the div.update (listbox)
    Upon click on any reult => getImage(pagenumber)
    On next arrow and previous arrow (getImage (pagenum-1), pagenum+1)*@