@{
    ViewData["Title"] = "About us";
}
<h2>@ViewData["Title"]</h2>
<hr />

<p>
    Tired of searching in the Official Lebanese Journal every single day? Do you want to be more efficient?<br />
    We have the exact solution for you!<br />
    Because digital is the new black.<br />
    With OLJ, information is delivered to you in the highest performance and quality so you can get the news to your eyes.<br />
    Simply, We are the future of memory<br />
</p>


