@{
    ViewData["Title"] = "Contact us";
}
<h2>@ViewData["Title"]</h2>
<hr />

<h3><strong>Peter Bachour</strong></h3>
<address>
    Lebanon<br />
    INCI, Saint Joseph University<br />
    <abbr title="Phone">Phone Number:</abbr>
    (+961) 71/289889<br />
    <abbr title="Email">E-mail:</abbr>
    <a href="mailto:peter_bachour@icloud.com">peter_bachour@icloud.com</a>

</address>

<h3><strong>Kevin Creidy</strong></h3>
<address>
    Lebanon<br />
    INCI, Saint Joseph University<br />
    <abbr title="Phone">Phone Number:</abbr>
    (+961) 71/877197<br />
    <abbr title="Email">E-mail:</abbr>
    <a href="mailto:kevincreidi98@gmail.com">kevincreidi98@gmail.com</a>

</address>

