@{
    ViewData["Title"] = "Home Page";
}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    .imgbox {
        display: grid;
        height: 100%;
    }

    .center-fit {
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
    }
</style>
<center>
    <div>
        <div class="imgbox">
            <img class="center-fit" src="../images/AddOns/LebaneseFlag.png">
        </div>
        <h1>Welcome to OLJ, a new and innovative way to read your Official Lebanese Journal</h1>
    </div>
</center>
